<div class="row">
    <div class="col-md-12">
        <h1>Scoreboard</h1>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="comment">Input:</label>
            <textarea class="form-control" [(ngModel)]="textAreaValue"></textarea>
            <button (click)="readTextArea()">readTextArea</button>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            Select file:
            <input type="file" (change)="readFile($event)">
            <button (click)="reloadFile()">reload</button>
        </div>
    </div>
</div>
<div class="row">
    <div>
        <div class="col-md-12">
            <h2>Clock</h2>
            <label>clock:</label><input min="0" max="{{clock}}" disabled="true" type="number" [(ngModel)]="selectedIndex" />
            <label>總 clock:</label><input disabled="true" type="number" value="{{clock}}" />
            <label>剩下 clock:</label><input disabled="true" type="number" value="{{clock-selectedIndex}}" />
            <button (click)="headScoreboardIndex()">Head</button>
            <button (click)="subScoreboardIndex()"><</button>
            <button (click)="addScoreboardIndex()">></button>
            <button (click)="endScoreboardIndex()">End</button>
        </div>
    </div>
</div>
<div class="row" *ngIf="selectedIndex !== undefined">
    <div class="col-md-12">
        <h2>Instruction status</h2>
        <div *ngIf="instructions">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <th>Instruction</th>
                        <th>i</th>
                        <th>j</th>
                        <th>k</th>
                        <th>Issue</th>
                        <th>Read operands</th>
                        <th>Execution complete</th>
                        <th>Write Result</th>
                    </tr>
                    <tr *ngFor="let ins of scoreboardHistory[selectedIndex]['instructions']">
                        <td>{{ins.name}}</td>
                        <td>{{ins.i}}</td>
                        <td>{{ins.j}}</td>
                        <td>{{ins.k}}</td>
                        <td [class.runned]="selectedIndex === ins.issue" class="text-center">{{ins.issue}}</td>
                        <td [class.runned]="selectedIndex === ins.readOperands" class="text-center">{{ins.readOperands}}</td>
                        <td [class.runned]="selectedIndex === ins.executionComplete" class="text-center">{{ins.executionComplete}}</td>
                        <td [class.runned]="selectedIndex === ins.writeResult" class="text-center">{{ins.writeResult}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h2>Functional unit status</h2>
        <table class="table table-striped">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>dest</th>
                <th>S1</th>
                <th>S2</th>
                <th>FU for j</th>
                <th>FU for k</th>
                <th>Fj?</th>
                <th>Fk?</th>
            </tr>
            <tr>
                <th>Time</th>
                <th>Name</th>
                <th>Busy</th>
                <th>Op</th>
                <th>Fi</th>
                <th>Fj</th>
                <th>Fk</th>
                <th>Qj</th>
                <th>Qk</th>
                <th>Rj</th>
                <th>Rk</th>
            </tr>
            <tr *ngFor="let func of scoreboardHistory[selectedIndex]['functionalUnits']">
                <td>{{func.timer | Timer}}</td>
                <td>{{func.name}}</td>
                <td>{{func.busy | YesNo}}</td>
                <td>{{func.op}}</td>
                <td>{{func.fi}}</td>
                <td>{{func.fj}}</td>
                <td>{{func.fk}}</td>
                <td>{{func.fj | Qpipe: func.insId : scoreboardHistory[selectedIndex]['registers'] }}</td>
                <td>{{func.fk | Qpipe: func.insId : scoreboardHistory[selectedIndex]['registers'] }}</td>
                <td>{{func.fj | Qpipe: func.insId : scoreboardHistory[selectedIndex]['registers'] | Rpipe : func.fj }}</td>
                <td>{{func.fk | Qpipe: func.insId : scoreboardHistory[selectedIndex]['registers'] | Rpipe : func.fk }}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-12">
        <h2>Register result status</h2>
        <table class="table table-striped">
            <tr>
                <th></th>
                <th *ngFor="let register of registers; let i=index">
                    F{{i*2}}
                </th> 
            </tr>
            <tr *ngIf="registers">
                <td>FU</td>
                <th *ngFor="let register of scoreboardHistory[selectedIndex]['registers']">
                    {{register.reg}}
                </th>
            </tr>
        </table>
    </div>
</div>